:root{
    --primary-color : #B80000;
    --white-color : #fff;
    --radius-primary : 10px;
    --padding-x : 25px;
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.active{
    color: var(--primary-color) !important;
}

.bg-danger{
    background-color: #B80000 !important;
}
.clip{
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}
.text-container{
    width: 60%;
    position: absolute;
}
.fit{
    width: 60% !important;
}
.service-card{
    width: 85px;
    height: 85px;
}
.service-card > p{
    font-size: 10pt;
}
.carousel-custom{
    height: 50px;
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    scroll-snap-type: x mandatory;
}
.carousel-custom div{
    width: 150px;
    height: 100%;
    text-align: center;
    scroll-snap-align: start;
    flex: none;
}
.carousel-images{
    height: 350px;
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    scroll-snap-type: x mandatory;
}
.carousel-images > div{
    height: 100%;
    text-align: center;
    scroll-snap-align: start;
    flex: none;
}
.fit-contact{
    width: 50%;
    height: 350px;
}
.fit-about{
    width: 80%;
}
.text-suport{
    font-size: 20px;
    font-family: "Noto Serif", serif;
}
.titleSuport{
   font-size: 38px; 
   font-family: "Patua One", serif;
}

.suport-bg{
    width: 100%;
    height:100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteiner-suport{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 15px;
    height: 75%;
}
.text-suport .titleSuport{
    margin: 0;
    position: relative; 
    display: flex; 
    text-align: center;
}
.suport-base{
    width: 57%;
    height: 50%;
    font-size: 28px;
    font-family: 'Noto Serif', serif;
    display: flex;
    padding: 0 25px 0 35px;

}

.img-suport{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vw;
}
.img-suport img{
    width: 40%;
    height: 100%;
    border-radius: 30px;
    display: flex;
}
.fit-suport{
    width: 50%;
}
.fit-hero{
    width: 75%;
    overflow: hidden;
}
@media (max-width: 768px) {
    .clip{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
    }
    .fit-hero{
        width: 100%;
    }
    .text-container{
        width: 100%;
        position: relative !important;
    }
    .fit{
        width: 100% !important;
    }
    .carousel-images{
        height: 150px;
    }
    .fit-contact{
        width: 100%;
        height: 250px;
    }
    .fit-about{
        width: 100%;
        height: 100%;
    }
    .fit-suport{
        width: 100%;
    }
  }